@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #profile,
  .section-container {
    display: block;
  }

  section,
  .section-container {
    height: fit-content;
  }

  .section_pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .contact_me p {
    font-size: 0.9rem;
  }
  #socials p {
    font-size: 0.75rem;
  }
  #socials p:nth-child(2) {
    font-size: 0.8rem;
  }
}
