@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background: black;
}

html {
  scroll-behavior: smooth;
}

p,
h1 {
  color: white;
}

/* Transition */

a,
.btn {
  transition: all 300ms ease;
}

/* Desktop Navigation */
#desktop-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  position: sticky;
  padding: 10px 10%;
  top: 0;
  z-index: 100;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#desktop-nav,
.nav-links {
  display: flex;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

#desktop-nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 22px;
  position: relative;
}
#desktop-nav ul li {
  display: inline-block;
  font-family: "Work Sans", sans-serif;
  margin: 10px 20px;
}

#desktop-nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.6s;
}
#desktop-nav ul li a:hover::after {
  width: 100%;
  background-color: #ff004f;
  color: white;
  box-shadow: 0 0 10px black;
}
#desktop-nav .logo {
  font-family: "Montserrat", sans-serif;
}
#desktop-nav .logo span {
  color: #ff004f;
}
.logo a {
  font-size: 2rem;
  position: relative;
  text-decoration: none;
}

.logo:hover {
  cursor: pointer;
}

/*hamburger nav*/
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/*home*/
#home {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}
.profile {
  padding: 300px 5%;
  margin-top: 0%;
  font-size: 30px;
  font-family: "Work Sans", sans-serif;
}
.section_pic-container {
  display: flex;
  height: 100vh;
  width: 775px;
  float: right;
  margin: auto 0;
}

.profile h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
}
.profile h1 span {
  color: #ff004f;
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.btn {
  margin: 1%;
  margin-left: 0%;
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}
.btn-color-1 {
  border: rgb(53, 53, 53) 0.1rem solid;
}
.btn-color-1:hover {
  cursor: pointer;
  background: #ff004f;
  color: white;
}
/*about section*/
#about {
  padding: 1px 0;
  color: white;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container {
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.about_me {
  flex-basis: 5%;
}
.about_me img {
  height: auto;
  width: 350px;
  border-radius: 20px;
}
.about_me_1 {
  flex-basis: 73%;
}
.sub_title {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
}
p {
  font-family: "Work Sans", sans-serif;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  font-family: "Montserrat", sans-serif;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500px;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.6s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  font-family: "Work Sans", sans-serif;
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: #ff004f;
  font-size: 22px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/*services-tab*/
#services {
  padding: 30px 0;
  margin-right: 70px;
}
.services-offered {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 30px;
}
.sub-title_1 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  text-align: center;
}
.sub-title_1 span {
  color: #ff004f;
}
.services-offered div h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
}

.services-offered p {
  font-size: 18px;
}
.services-offered div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-right: 10px;
  border-radius: 25px;
  transition: background 0.6s, transform 0.5s;
}
.services-offered img {
  height: auto;
  margin-bottom: 20px;
  width: 50px;
}

.services-offered div:hover {
  background: #ff004f;
  transform: translateY(-15px);
}
/*portfolio*/

#portfolio {
  padding: 50px 0;
  margin-left: 75px;
  margin-right: 70px;
}
.work-lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 30px;
}
.works {
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.sub-title_2 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  text-align: center;
}
.sub-title_2 span {
  color: #ff004f;
}

.work-lists img {
  width: 100%;
  border-radius: 10px;
  display: block;
  margin-bottom: 15px;
  transition: transform 0.5s;
}
.descript h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.descript {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 16px;
  transition: height 0.6s;
}
.works:hover img {
  transform: scale(1.1);
}
.works:hover .descript {
  height: 100%;
}

/*contact section*/
#contact1 {
  margin: 70px;
}
.contact_me {
  width: 100%;
  height: 290px;
  background-color: #262626;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
}
.contact_me:hover {
  color: #ff004f;
}
.contact_me p {
  font-family: "Work Sans", sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 25px;
}
.contact_me a {
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.btn.btn-color-2 {
  display: inline-block;
}
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}
.btn-color-2:hover {
  cursor: pointer;
  background: #ff004f;
  color: white;
}
/*Contact*/

#contact {
  text-align: center;
  padding-top: 70px;
  background: #262626;
  width: 100%;
  height: auto;
}

#contact h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  margin-bottom: 10px;
  text-align: center;
}
#contact span {
  color: #ff004f;
}
.contact_container {
  margin-top: 80px;
}
form {
  width: 80%;
  margin: auto;
  display: in;
}

.form-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
form input {
  padding: 10px;
  background: transparent;
  margin-bottom: 30px;
  color: #ff004f;
  border: none;
  box-shadow: 0 1px 0 0 white;
  transition: 0.4 ease;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  width: 100%;
}
form input:focus {
  border-bottom: 1px solid black;
  color: #ff004f;
  box-shadow: none;
}
.form-bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.form-bottom textarea {
  width: 100%;
  padding: 10px;
  height: 100px;
  background: transparent;
  resize: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin-top: 17px;
  border: 1px solid white;
  color: #ff004f;
}
.btn.btn-color-3 {
  display: inline-block;
}
.btn-color-3 {
  border: rgb(53, 53, 53) 0.1rem solid;
}
.btn-color-3:hover {
  cursor: pointer;
  background: #ff004f;
  color: white;
}

/*footer*/
#socials {
  position: relative;
  width: 100%;
  height: 300px;
  background: #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#socials p:nth-child(1) {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}
#socials p:nth-child(2) {
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
  margin-bottom: 20px;
  font-weight: bold;
}
.social-icons .icon {
  display: inline-block;
  height: auto;
  width: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin: 15px 10px;
  transition: transform 0.6s;
}
.social-icons .icon:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.end {
  position: absolute;
  color: #ff004f;
  bottom: 35px;
  font-size: 14px;
}
